<a href="https://colab.research.google.com/github/rkhetani/beginners-python/blob/master/session_seven/session_seven_blank_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

So far we have encountered lists and tuples as ways to store data in python. 

These are great, but have the limitation that all values must be indexed by an integer. This can be problematic when you want to store data that does not have any obvious order, or where the natural way to reference imformation is via some non integer index.

**Example**: The number of employees at different AstraZeneca sites. The information here is more naturally indexesd by the site names.

<div>
<img src="Employees_table.png" width="500"/>
</div>

Dictionaries enable items to be indexed by other types of object ,most usefully via strings, enabling data to be called upon more intuitively.

### A Simple Example

Dictionaries can be created using `{}` brackets:

In [43]:
employees = {"Cambridge":3750, 
             "Gothenburg":3000, 
             "London":200, 
             "Gaithersburg":3500, 
             "Boston":1250, 
             "Macclesfield":4500}

In [44]:
employees

{'Cambridge': 3750,
 'Gothenburg': 3000,
 'London': 200,
 'Gaithersburg': 3500,
 'Boston': 1250,
 'Macclesfield': 4500}

Values can accessed via the usual syntax:

In [30]:
employees["Cambridge"]

3750

Dictionary Terminology
- The indexing objects in a dictionary are called **keys**
- Values are called **values**
- `(key, value)` pairs are called **items**:

In [35]:
employees.keys()

dict_keys(['Cambridge', 'Gothenburg', 'Gaithersburg', 'Boston', 'Macclesfield'])

In [36]:
employees.values()

dict_values([3750, 3000, 3500, 1250, 4500])

In [37]:
employees.items()

dict_items([('Cambridge', 3750), ('Gothenburg', 3000), ('Gaithersburg', 3500), ('Boston', 1250), ('Macclesfield', 4500)])

#### Other Examples

A lookup table for ensemble and human readable gene names:

In [32]:
ensembl_human_dict = dict()
ensembl_human_dict

{}

In [33]:
ensembl_human_dict["TP53"] = "ENSG00000141510"
ensembl_human_dict

{'TP53': 'ENSG00000141510'}

In [34]:
ensembl_human_dict["COL1A1"] = "ENSG00000108821"
ensembl_human_dict["BRCA2"] = "ENSG00000139618"
ensembl_human_dict["BRCA1"] = "ENSG00000139618"
ensembl_human_dict

{'TP53': 'ENSG00000141510',
 'COL1A1': 'ENSG00000108821',
 'BRCA2': 'ENSG00000139618',
 'BRCA1': 'ENSG00000139618'}

A lookup for translation between different languages:

In [1]:
eng2swe = {"hi":"hej", "thanks":"tak"}

In [2]:
eng2swe

{'hi': 'hej', 'thanks': 'tak'}

In [5]:
eng2swe["thanks"] = "tack"

In [6]:
eng2swe

{'hi': 'hej', 'thanks': 'tack'}

### Working with Dictionaries

By default, python typically interacts with dictionaries via their keys.

**Example**: checking if an item is in a dictionary

In [38]:
"Cambridge" in employees

True

In [41]:
3750 in employees

False

**Example**: Looping through a dictionary

In [42]:
for x in employees:
    print(x)

Cambridge
Gothenburg
Gaithersburg
Boston
Macclesfield

**Example**: Deleting an item

In [46]:
del employees["London"]

In [47]:
employees

{'Cambridge': 3750,
 'Gothenburg': 3000,
 'Gaithersburg': 3500,
 'Boston': 1250,
 'Macclesfield': 4500}

If we wish to work with the values instead, or with the key-value pairs, we can manually specify this.

In [9]:
3750 in employees.values()

True

In [8]:
for x in employees.values():
    print(x)

3750
3000
200
3500
1250
4500

In [45]:
for x, y in employees.items():
    print(x + ":", y)

Cambridge: 3750
Gothenburg: 3000
London: 200
Gaithersburg: 3500
Boston: 1250
Macclesfield: 4500

## Advanced Concepts

### `.get()`

The `.get()` method allows you to specify a default argument to return in the case that the dictionary contains no information for the given key.

In [50]:
employees["London"]

KeyError: 'London'

In [51]:
employees.get("London", 0)

0

In [26]:
def how_many_employees(location):
    print("There are " + str(employees.get(location, 0)) + " employees in " + location + ".")

In [52]:
how_many_employees("Cambridge")

There are 3750 employees in Cambridge.

In [54]:
how_many_employees("Neverland")

There are 0 employees in Neverland.